
.icones-heart:before { content: '\e800'; } /* '' */
.icones-heart-empty:before { content: '\e801'; } /* '' */
.icones-mail:before { content: '\e802'; } /* '' */
.icones-search:before { content: '\e803'; } /* '' */
.icones-comment:before { content: '\e805'; } /* '' */
.icones-down-dir:before { content: '\e806'; } /* '' */
.icones-up-dir:before { content: '\e807'; } /* '' */
.icones-left-dir:before { content: '\e808'; } /* '' */
.icones-right-dir:before { content: '\e809'; } /* '' */
.icones-ok-circled2:before { content: '\e80b'; } /* '' */
.icones-ok-circled:before { content: '\e80c'; } /* '' */
.icones-ok:before { content: '\e80d'; } /* '' */
.icones-cancel:before { content: '\e80e'; } /* '' */
.icones-th-2:before { content: '\e80f'; } /* '' */
.icones-location:before { content: '\e810'; } /* '' */
.icones-download-alt:before { content: '\e811'; } /* '' */
.icones-attach:before { content: '\e812'; } /* '' */
.icones-load:before { content: '\e834'; } /* '' */
.icones-menu:before { content: '\f008'; } /* '' */
.icones-twitter:before { content: '\f099'; } /* '' */
.icones-menu-1:before { content: '\f0c9'; } /* '' */
.icones-mail-alt:before { content: '\f0e0'; } /* '' */
.icones-linkedin:before { content: '\f0e1'; } /* '' */
.icones-comment-empty:before { content: '\f0e5'; } /* '' */
.icones-youtube:before { content: '\f167'; } /* '' */
.icones-whatsapp:before { content: '\f232'; } /* '' */
.icones-facebook:before { content: '\f30c'; } /* '' */
.icones-gplus:before { content: '\f30f'; } /* '' */
.icones-instagram:before { content: '\f32d'; } /* '' */